@model IEnumerable<RRWebUI.Models.ReviewVM>

@{
    ViewData["Title"] = "Index";
}

<h1 class = "display-4">@ViewBag.Restaurant.Name Reviews</h1>
<h4>Overall Rating: @ViewData["OverallRating"]</h4>

<table class = "table table-striped table-hover">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => review.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => review.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
<a>@Html.ActionLink("Back to Restaurant", "Index", "Restaurant", null, new {@class = "btn btn-primary"})</a>